<div class="row">
  <div clas="column">
    <%= form_for @conn, "/game", fn f -> %>
    <h1>Join A Game</h1>
    <label>
      Room: <%= text_input f, :name %>
    </label>
    <p><%= submit "Join" %></p>
    <% end %>
  </div>
</div>
