/* This file is for your main application css. */

@import "~milligram/dist/milligram";

.column > p {
    padding-top: 10ex;
    text-align: center;
}

.tile {
    height: 10vh;
    width: 10vw;
    margin: 2% !important;
}

.flipped {
    background-color: white;
}

.found {
    background-color: gold;
}

.not-flipped {
    background-color: blue;
}

.game-board {
    background-color: saddlebrown;
}
/*style={{
//    margin: '2%', height: '10vh', width: '10vw', backgroundColor: 'blue'}}>
//style={{
//      margin: '2%', height: '10vh', width: '10vw', backgroundColor: 'white', textAlign: 'center'}}>
*/
